<br />
<br />
<div style="margin: auto; text-align: center;"><img alt="شركة المتكامل" src="~/Content/images/logocomp.png" /></div>
<div style="text-align:center">
    <a href="http://almotkaml.com" style="text-decoration: none;">
        جميع الحقوق محفوظة© لشركة المتكامل لإدارة وتقنية المعلومات
        @*Powered By Almotkaml Human Resource System version : 2.2.0 beta*@
    </a>
</div>


