@model Almotkaml.ArtificialLimbs.Models.LoginModel
@using Almotkaml.ArtificialLimbs.Models
@{

    ViewBag.Title = "تسجيل الدخول";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <form class="login100-form validate-form">
        <span class="login100-form-title">
            تسجيل الدخول
        </span>

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">
            @Html.TextBoxFor(model => model.UserName, new { @class = " input100 form-control", placeholder = "اسم الدخول", autofocus = "" })
            <span class="focus-input100"></span>
            <span class="symbol-input100"><i class="fa fa-envelope" aria-hidden="true"></i></span>
        </div>
        <div class="wrap-input100 validate-input" data-validate="Password is required">
            @Html.PasswordFor(model => model.Password, new { @class = "input100  form-control", placeholder = "كلمة المرور", value = "" })
            <span class="focus-input100"></span>
            <span class="symbol-input100"><i class="fa fa-lock" aria-hidden="true"></i></span>
        </div>
        <!-- Change this to a button or input when using this as a form -->
        <div class="container-login100-form-btn m-t-20">
            <button type="submit" name="submit" value="دخول" class="login100-form-btn">دخول</button>
        </div>

    </form>

}
