@model Almotkaml.ArtificialLimbs.Models.EmployeeModel
@using Almotkaml.ArtificialLimbs.Global.Herbler
@using Almotkaml.ArtificialLimbs.Models

@{
    ViewBag.Title = "اضافة فنيين العلاج";
}
@using (Ajax.BeginForm(new AjaxOptions()
{
    UpdateTargetId = "ajax-form",
    OnSuccess = "RedirectToIndex()",
    OnBegin = "OnBegin()",
    LoadingElementId = "divLoading"
}))

{

    <div id="ajax-form">
        @Html.Partial("_CreateForm", Model, ViewData)
    </div>
}

